$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /*чтобы было легче переводить в ремы - делить на 10 10px, лучше делать в процентах чтобы пользователь мог увелить уменьшить*/
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color:  $color-grey-dark;
    padding: 3rem; /*не наследуется */
    box-sizing: border-box;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)), 
    url(../img/hero.jpg); /*на уровень выше*/
    background-size: cover; /*для помещения элемента внутрь бокса*/
    background-position: top;/*при уменьшении размера экрана картинка остается наверху, двигается низ*/
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem; /* то откуда отсчитываем */
    }
    
    &__logo {
        height: 3.5rem;
    }
    
    /* .logo:hover {
        animation: moveInRight 1s ease-out;
    } не помню зачем)*/
    
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%); /*чтобы центр бокса был топ и лефт 50%, мы вычитаем 50% от элемента*/
        text-align: center;
    }
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: hidden; /*чтобы не было тряски в конце, а также если есть переворот карточки чтобы юзер не видел оборот карточки*/
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        animation-name: moveInLeft; /*название анимации*/
        animation-duration: 1s;
        animation-timing-function: ease-out; /* с какой скоростью будет анимация*/
    
        /*     
        animation-delay: 1s; сколько ждем до начала анимации
        animation-iteration-count: 3; сколько итераций сделает анимация 
        */
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;
    }
}

@keyframes moveInLeft {
    0% { /*старт - 0*/
        opacity: 0;
        transform: translateX(-10rem); /*двигаемся по строке х, - двигаемся влево, + вправо*/
    }

    80% {
        transform: translateX(1rem);
    }

    100% { /*финиш - 100*/
        opacity: 1;
        transform: translate(0); /*0 потому что возврат к настоящему*/
    }
}

@keyframes moveInRight {
    0% { /*старт - 0*/
        opacity: 0;
        transform: translateX(10rem); /*двигаемся по строке х, - двигаемся влево, + вправо*/
    }

    80% {
        transform: translateX(-1rem);
    }

    100% { /*финиш - 100*/
        opacity: 1;
        transform: translate(0); /*0 потому что возврат к настоящему*/
    }
}

@keyframes moveInBottom {
    0% { /*старт - 0*/
        opacity: 0;
        transform: translateY(3rem); /*двигаемся по строке х, - двигаемся влево, + вправо*/
    }

    100% { /*финиш - 100*/
        opacity: 1;
        transform: translate(0); /*0 потому что возврат к настоящему*/
    }
}

.btn {
    &:link,
    &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block; /*всегда задаем если нужно задать паддинг, ширину*/
    border-radius: 10rem;
    transition: all .2s; /*всегда задаем если нужно задать паддинг, ширину*/
    position: relative; /*тогда афтер спрячется за btn*/
    font-size: 1.6rem;
    }

    &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black .2); /*сначала значения по х потом у (20px будет вниз); третье значение означает blur*/

        &::after {
        transform: scaleX(1.4) scaleY(1.6); /*увеличивает элемент*/
        opacity: 0;
        }
    }

    &:active {
    transform: translateY(-1px); /*относительно начальной позиции*/
    box-shadow: 0 .5rem 1rem rgba($color-black .2); /*когда актив то меньше шедоу*/
    }

    &--color {
    background-color: $color-white;
    color: $color-grey-dark;

        &::after {
        background-color: $color-white;
        }
    }

    &::after {
    content: "";
    display: inline-block;
    height: 100%; /*относительно btn*/
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0; /*относительно родительского элемента*/
    left: 0;
    z-index: -1;
    transition: all .4s;
    }

    &--animated {
    animation: moveInBottom .5s ease-out .75s; /* через .75s начнется анимация, позже чем остальные*/
    animation-fill-mode: backwards;
    }
}
